
@mixin hovereffects {
    background-color: $text-color;
    box-shadow: 0px 1.5px 2.0px rgba(255,255,157, 0.4);
    color: $main-color;
    transform: translate(-7px);
}

@mixin mybtn {
    padding: 0.2rem 1rem;
    background: $primary-color;
    line-height: 3rem;
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
    color: $text-color;
    border: none;
    box-shadow: 0px 8px 15px rgba(192, 19, 19, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border-radius: 4.5rem;
    outline: none;
}

@mixin contentcenter($flex_val) {
    display: flex;
    justify-content: center;
    align-items: $flex_val;
    flex-direction: column;
}